{% extends 'popup.html' %}

{% block form %}
    <h4 class="form-title">Create ad</h4><br>
  <p class="form-subtitle">Put your items up for auction</p>
  <form class="loginform" action="{% url 'create_item' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="form-field-label">Name</label><br>
    {{form.name}}
    <label class="form-field-label">Image</label><br>
    {{form.image}}
    <label class="form-field-label">Condition</label><br>
    {{form.condition}}
    <label class="form-field-label">Minimum bid</label><br>
    {{form.min_bid}}
    <label class="form-field-label">Long description</label><br>
    {{form.long_desc}}
    <label class="form-field-label">Sub category</label><br>
    {{form.sub_cat}}
    {{ form.errors }}
    <button class="form-submit" id="submit" type="submit" value="Submit">Submit</button><br>
  </form>
{% endblock form %}

