{% extends 'popup.html' %}

{% block form %}
    <h4 class="form-title">Create ad</h4><br>
  <p class="form-subtitle">Put your items up for auction</p>
  <form class="loginform" action="{% url 'create_item' %}" method="POST">
    {% csrf_token %}
      <p>Name</p>
    {{form.name}}
      <p>Image</p>
    {{form.image}}
      <p>Condition</p>
    {{form.condition}}
      <p>Minimum bid</p>
    {{form.min_bid}}
      <p>Long description</p>
    {{form.long_desc}}
      <p>Sub category</p>
    {{form.sub_cat}}
    {{ form.errors }}
    <button class="form-submit" id="submit" type="submit" value="Submit">Submit</button><br>
  </form>
{% endblock form %}

