{% extends 'popup.html' %}
{% load static %}

{% block form %}
<h4 class="form-title">Update ad</h4><br>
<p class="form-subtitle">Update the information for your ad</p>
<div class="image-container">
  <img class="profile-picture" src="{{MEDIA_URL}}/images/{{item.image}}" alt="Item picture"
    enctype="multipart/form-data">
</div>
<form class="loginform" action="{% url 'edit_ad' item.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label class="form-field-label">Name</label><br>
  {{form.name}}
  <label class="form-field-label">Image</label><br>
  <input required name="images" type="file" multiple class="form-field">
  <label class="form-field-label">Condition</label><br>
  {{form.condition}}
  <label class="form-field-label">Long Description</label><br>
  {{form.long_desc}}
  <label class="form-field-label">Sub category</label><br>
  {{form.sub_cat}}
  {{ form.errors }}
  <button class="form-submit" id="submit" type="submit" value="Submit">Submit</button><br>
</form>
{% endblock form %}