{% extends 'base.html' %}
{% load static %}

{% block filter %}
    {% include 'items/filter.html' %}
{% endblock filter %}

{% block content %}
    {% include 'items/filtermenu.html' %}
    <a id="create-item" href="{% url 'create_item' %}">Upload your ad</a>
    <div><button id="filtering-button" ><i class="fa-solid fa-sliders"></i></button></div>
    <div class="items-header"><h2 class="category-title">gaman að fá category title hér.</h2> </div>
    <div class="items-grid-container">
    {% for item in items %}
        {% include 'items/grid-item.html' with item=item %}
    {% endfor %}
    </div>
{% endblock content %}