{% extends 'popup.html' %}

{% block form %}
    <h4 class="form-title">Place a bid on this item</h4><br>
    <div id="bid-item-info">
        <img id="bid-item-image" src="{{ item.image }}">
        <h2 id="bid-item-name">{{ item.name }}</h2>
        <p id="bid-item-bid">Currently the highest bid is: {{ item.cur_bid }} kr.</p>
    </div>
    <form class="loginform" action="{% url 'place_bid' item.id %}" method="POST">

        {% csrf_token %}
        <label class="form-field-label" for="bid">Enter your bid</label><br>
        {{ form.price }}
        {{ form.non_field_errors }}
      <button class="form-submit" id="submit" type="submit" value="Submit">Place bid</button><br>
    </form>

<style>
#bid-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#bid-item-name {
    margin: auto;
}

#bid-item-image {
    max-width: 200px;
    margin: auto;
}

#bid-item-bid {
    margin: auto;
}
</style>
{% endblock form %}