{% extends 'popup.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
<div id="modal">
  <div id="placebid-modal">
    <h4 class="form-title">Place Bid</h4><br>
    <form class="loginform" action="{% url 'create_item' %}" method="POST">
        <label class="form-field-label" for="bid">Enter your bid</label><br>
        <input class="form-field" type="text" id="bid" name="bid"><br>
      <div id="form-remember">
      </div>
      <button class="form-submit" id="submit" type="submit" value="Submit">Place bid</button><br>
    </form>
  </div>
</div>
{% endblock content %}