{% extends 'profile.html' %}
{% load static #}
{% block profile-container %}
    <div class="profile-container">
        <div class="image-container">
            <img class="profile-picture" src="{{MEDIA_URL}}/images/{{item.1.0.image}}" alt="Item picture" enctype="multipart/form-data">
        </div>
        <div class="profile-header">
            <h3 class="profile-name">{{ item.name }}</h3>
        </div>
        <div class="profile-info">
            <ul class="info-list">
                <li><p class="info-header"><span>Posted on:</span><span class="info-value">{{ item.date_of_upload }}</span></p>
                <li><p class="info-header"><span>Current highest bid:</span><span class="info-value">{{ item.cur_bid }} kr.</span></p>
                <li><p class="info-header"><span>Description:</span><span class="info-value">{{ item.long_desc }}</span></p>
            </ul>
        </div>
        <div class="line"></div>
        <div class="below-left">
            <ul class="image-ul">
                Óklárað!!!!!
                {% for img in item.1 %}
                    {% if img.main_image == False %}
                        <li class="image-li">
                            <img class="item-image" id="image_{{image.id}}" src="{{MEDIA_URL}}/images/{{img.image}}" alt="Item image" onclick="scaleImage(this.id)">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="below-seller">
            <h3 class="item-header">About seller</h3>
            <ul class="info-list">
                <li><p class="info-header"><span>Seller:</span><span class="info-value">{{ seller.username }}</span></p>
                <li><p class="info-header"><span>Rating:</span><span class="info-value rating">Seller rating***</span></p>
            </ul>
        </div>
        <div class="buttons-container">
            {% if user.id != item.seller.id %}
                <a href="{% url 'place_bid' item.0.id %}" class="button-profile">Place Bid</a>
            {% else %}
                <a href="{% url 'edit_ad' item.0.id %}" class="button-profile">Edit item</a>
            {% endif %}
        </div>
        <div id="image-popup">
            <img id="image-scaled" src="">
        </div>
    </div>
    <style>
        .below-seller {
            grid-area: below ;
        }
        .below-left {
            grid-area: belowleft;
            border: solid red 1px;
        }
        .image-ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .image-li {
            height: 30vh;
            flex-grow: 1;
        }
        .image-li:last-child {
            flex-grow: 10;
        }
        .item-image {
            max-height: 100%;
            min-width: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
    </style>
{% include 'items/scroll_similar.html' with items=similar_items %}

{% endblock profile-container %}
