{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/singleitem.css' %}">
{% endblock styles %}

{% block content %}
<div class="item_container">
    <div class="image_container"><a href="fortesting.html"><img class="ad_picture" src="{{ item.image }}" alt="cat picture" ></a><br></div>
    <div class="description_container">
        <div>
            <h3 class="item_header">Short description</h3>
            <p class="item_info"  id="short_descr">{{ item.name }}</p>
        </div>
        <div>
            <h3 class="item_header">Long description</h3>
            <p class="item_info"  id="long_descr">{{ item.long_desc }}</p>
        </div>
        <div>
            <h3 class="item_header">Condition</h3>
            <p class="item_info" id="condition">{{ item.condition }}</p>
        </div>
    </div>
    <div class="bid_container">
        <button class="place_bid">Place Bid</button>
    </div>
    <div class="item_info2">
        <dl>
            <dt><b>Seller</b></dt><br>
                <dd>{{ seller.name }}</dd><br>
            <dt><b>Posted on</b></dt><br>
                <dd>{{ item.time_of_upload }}<br>{{ item.date_of_upload }}</dd><br>
            <dt><b>Current highest bid</b></dt><br>
                <dd>{{ item.cur_bid }} kr.</dd><br>
        </dl>
    </div>
    <div class="similar_items_container">
        <a href="fortesting.html"><img class="ad_picture" src="cat.jpg" alt="cat picture" ></a>
        <a href="fortesting.html"><img class="ad_picture" src="cat.jpg" alt="cat picture" ></a>
        <a href="fortesting.html"><img class="ad_picture" src="cat.jpg" alt="cat picture" ></a>
        <a href="fortesting.html"><img class="ad_picture" src="cat.jpg" alt="cat picture" ></a>
        <a href="fortesting.html"><img class="ad_picture" src="cat.jpg" alt="cat picture" ></a>
        <a href="fortesting.html"><img class="ad_picture" src="cat.jpg" alt="cat picture" ></a>
    </div>
</div>
{% endblock content %}
