{% extends 'popup.html' %}

{% block form  %}
  <h4 class="form-title">Checkout</h4>
  <p class="form-subtitle">Set up your delivery addresses and payment methods to receive your product</p>
  <form class="loginform" action="{% url 'checkout' offer next %}" method="post">
    {% csrf_token %}
    {{ form }}
    <label for="save-info">Save this information to your profile?</label>
    <input type="checkbox" name="save-info" value="yes">
    <button class="form-submit" id="submit" type="submit" value="Submit">Continue</button><br>
    <button class="form-submit" id="submit" onclick="history.back()">Back</button><br>
  </form>

  <style media="screen">
    #close-form-btn {
      display: none;
    }
  </style>

{% endblock form  %}
