{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="inbox-container">
  <h2 class="frontpage-title">Inbox</h2>
  <div class="inbox-menu">
    <a href="{% url 'inbox' %}">Notifications</a><br>
    <a href="{% url 'inbox' params='my_bids' %}">My bids</a><br>
    <a href="{% url 'inbox' params='my_items' %}">Bids on my items</a><br>
  </div>
  <div class="inbox-list">
      {% if notifications %}
        {% for notification in notifications %}
          <div class="inbox-item">
            <a href="{% url 'notification' notification.id %}">
              {% if notification.offer.item.seller.id == user.id %}
                You have received an offer for {{ notification.offer.item.name }}
              {% else %}
                {% if notification.offer.approved %}
                  {{ notification.offer.item.seller.username }} has accepted your bid on {{ notification.offer.item.name }}!
                {% else %}
                  {{ notification.offer.item.seller.username }} has declined your bid on {{ notification.offer.item.name }}
                {% endif %}
              {% endif %}
            </a>
            <p>{{ notification.timestamp|date:"G:i:s - D j. M 'y" }}</p>
          </div>
        {% endfor %}
      {% endif %}
  </div>
</div>

<style media="screen">
  .inbox-container {
    width: 70%;
    margin: 0 auto;
  }

  .inbox-menu {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .inbox-item {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .inbox-item > a {
    align-self: center;
  }

</style>

{% endblock content %}
