{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inbox.css' %}">
{% endblock styles %}

{% block content %}
<div class="inbox-container">
  <div class="left-menu">
    <h2 class="frontpage-title">Inbox</h2>
    <a href="{% url 'inbox' %}">Notifications</a><br>
    <a href="{% url 'inbox' params='my_bids' %}">My bids</a><br>
    <a href="{% url 'inbox' params='my_items' %}">Bids on my items</a><br>
  </div>
  <div class="inbox-list">
    <table>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      {% for i in notifications %}
        <tr>
          <td><a href="{% url 'notification' i.id %}">{{ i.recipient }}</a></td>
          <td>{{ i.offer }}</td>
          <td>{{ i.timestamp }}</td>
        </tr>
      {% endfor %}
        {% for j in bids %}
        <tr>
          <td><a href="{% url 'notification' j.id %}">{{ j.price }}</a></td>
          <td>{{ j.buyer_id }}</td>
          <td>{{ j.time_of_offer }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
