{% extends 'popup.html' %}
{% load static %}

{% block form %}
{% if notification.offer.item.seller.id == user.id %}
  <h4 class="form-title">Bid received</h4>
  <p class="form-subtitle">{{ notification.offer.buyer.username }} wants to bid on this item</p>
  <div id="bid-item-info">
      <img id="bid-item-image" src="{{ notification.offer.item.image }}">
      <h2 id="bid-item-name">{{ notification.offer.item.name }}</h2>
      <p id="bid-item-bid">{{ notification.offer.buyer.username }}'s bid: {{ notification.offer.price }} kr.</p>
  </div>
  <div class="accept-decline-buttons">
    <a class="accept-decline" href="#">Accept</a>
    <a class="accept-decline" href="#">Decline</a>
  </div>
{% else %}
  {% if notification.offer.approved %}
    {{ notification.offer.item.seller.name }} has accepted your bid on {{ notification.offer.item.name }}!
  {% else %}
    {{ notification.offer.item.seller.name }} has declined your bid on {{ notification.offer.item.name }}
  {% endif %}
{% endif %}

<style media="screen">
  #bid-item-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
  }

  #bid-item-name {
      margin: auto;
  }

  #bid-item-image {
      max-width: 200px;
      margin: auto;
  }

  #bid-item-bid {
      margin: auto;
  }

  .accept-decline-buttons {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

{% endblock form %}
