{% extends 'popup.html' %}

{% block form %}
<h4 class="form-title">Payment</h4><br>
<p class="form-subtitle">Save your payment <br>for easy checkout</p>
<form class="loginform" action="{% url 'edit_payment' user.username %}" method="POST">
  {% csrf_token %}
  <p>Credit card number</p>
  {{form.card_nr}}
  <p>Expiry date</p>
  {{form.expires}}
  <p>CVC</p>
  {{form.cvc}}
  {{ form.errors }}
  <button class="form-submit" id="submit" type="submit" value="Submit">Submit</button><br>
</form>
{% endblock form %}