{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profilemenu.css' %}">
{% endblock styles %}

<div id="profile-menu">
  <ul id="profile-menu-list">
    {% if user.is_authenticated %}
    <p>{{ user.username }}</p>
    <li><a href="{% url 'profile' username=user.username %}">My profile</a></li>
    <li><a href="{% url 'inbox' %}">Inbox</a></li>
    <li><a href="{% url 'signout' %}">Sign out</a></li>
    {% else %}
    <p>Logged out</p>
    <li><a href="{% url 'signin' %}">Sign in</a></li>
    {% endif %}
  </ul>
</div>
