{% extends 'profile.html' %}

{% block profile-container %}
<h1>This is userpage for {{ username }}</h1>
<div class="profile-container">
    <div class="image-container">
        <img class="profile-picture" src="{{ user_info.image }}" alt="Profile picture" >
    </div>
    <div class="item-header">
        <h3 class="item-name">{{ user.username }}</h3>
        <div class="rating">Rating *****</div>
    </div>
    <div class="item-profile-info">
        <ul class="info-list">
            <li><p class="info-header"><span>Name:</span><span class="info-value">{{ user_info.first_name }} {{ {{ user_info.last_name }} }}</span></p>
            <li><p class="info-header"><span>Member Since:</span><span class="info-value">{{ user.date }} kr.</span></p>
            <li><p class="info-header"><span>Birthday:</span><span class="info-value">{{ user_info.birthday }}</span></p>
        </ul>            
    </div>
    <div class="line"></div>
    <div class="seller-info">
        <h3 class="item-header">Bio</h3>
        <ul class="info-list">
            <p class="info-value">{{ user_info.bio }}</p>
    </div>
    <div class="bid_container">
        <button class="edit">Edit User Info   </button>
        <button class="edit">Edit Payment Info</button>
        <button class="edit">Update Address   </button>
    </div>
</div>
{% endblock profile-container %}
