body {
    width:80%;
    margin:auto;
}

header {
    width:100%;
    height:70px;
    background-color: #303C6C;
}
#logo{
    float:left;
    width:230px;
    height:70px;
    display: inline;
}
#sign_in{
    float:right;
    display: block;
    text-align: center;
    padding: 17px 50px;
    text-decoration: none;
}
#sign_in:hover{
    color:#F4976C;
}
li:hover {
    cursor: pointer;
}
a {
    color:white;
    text-decoration: none;
}
a:hover {
    color:#F4976C;
}
li {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

ul {
    list-style-type: none;
    color:white;

}

.category_container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.item {
    order: 4;
    padding: 20px;
}
.ad_container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.item {
    order: 4;
    padding: 20px;
}
.category_picture {
    width:300px;
    height:200px;
}
.ad_picture {
    width:200px;
    height:200px;
}
.search_container {
    padding:10%;
    color:white;
    align-content: center;
}

.footer_list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.footer_item {
}

footer {
    width:100%;
    height:70px;
    background-color: #303C6C;
    left: 0;
    bottom: 0;
}

.submit_btn {
    background-color: #303C6C ;
    color:white;
}

.submit_btn:active {
    background-color: #394780;
}
.submit_btn:hover {
    background-color: #394780;
    color:#F4976C;
}
/* Work in progress */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  max-width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modalbtn {
    background-color: #303C6C;
    color: white;
    font-size: 17px;
    font-weight: bold;
    min-width:25%;
}

.modalbtn:hover,
.modalbtn:focus {
  color: #F4976C;
  text-decoration: none;
  cursor: pointer;
}

label.loginform{
    color:black;
}

h4.loginform{
    color:black;
    margin: 5% 42%;
}

input.loginform{
    width:100%;
    border:0;
    border-bottom: solid thin;
}

.login_footer {
    background-color: lavender;
    min-width:50%;
    height:33px;
    display:inline;

}
span.question{
    color:black;
}
button.signup_btn {
     background-color: #303C6C;
    color: white;
    font-size: 17px;
    font-weight: bold;
    float:right
}

/* Off canvas */
/*body {
  font-family: "Lato", sans-serif;
}
*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 15%;
    left:0;
    background-color: #303C6C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
    display:block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #F4976C;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.item_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
    width:100%;
    height:1000px;
    background-color: #F4976C30;
}
.image_container {
    grid-row-start:1;

}
.ad_picture {
    height:250px;
    width:250px;
    padding:20px;
}

.description_container {
    grid-column-start:2;
    grid-column-end:5;
    flex-direction:column;
    width:80%;
    order:1;
    max-height:500px
}

.edit_container {
    grid-row-start:2;
    grid-column:3 /span 2;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    padding:20px;
}
.item_info2{
    grid-row-start:2;
    padding:40px;
}

/*Scroll-menu*/
div.user_items {
    grid-row:3/ span 2;
    grid-column: 1 /span 4;
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    border:solid #F4976C30;

}

div.user_items a {
  display: inline-block;
  color: white;
}

div.user_items a:hover {
  background-color: #F4976C30;
}

button.edit {
    background-color: #303C6C;
    color:white;
    padding:20px;
    border-radius: 8px;
}
button.edit:hover {
    color:#F4976C;
    cursor:pointer;
}
div.user_items {
    width:100%;
    top:0;
    grid-row:3/span 2;
}