{% load static %}

<div class="footer-container">
  <a class="footer-item" href="#">Privacy Policy</a>
  <a class="footer-item" href="#">Cookie Policy</a>
  <a class="footer-item" href="#">Community Guidelines</a>
  <a class="footer-item" href="mailto:gissur20@ru.is">Contact us</a>
</div>
<style>
  footer {
    height: 65px;
  }

  .footer-container {
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 65px;
    background-color: #f08c34;
    margin: 0 0 0 0%;
  }

  .footer-item {
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-decoration: none;
    font-size: 15px;
    color: white;
  }
</style>