{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
{% endblock styles %}

<div class="footer-container">
  <a class="footer-item" href="fortesting.html">Privacy Policy</a>
  <a class="footer-item" href="fortesting.html">Cookie Policy</a>
  <a class="footer-item" href="fortesting.html">Tips and Tricks</a>
  <a class="footer-item" href="fortesting.html">Community Guidelines</a>
  <a class="footer-item" href="mailto:gissur20@ru.is">Contact us</a>
</div>
