{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
{% endblock styles %}

<div class="footer-container">
  <a class="footer-item" href="fortesting.html">Privacy Policy</a>
  <a class="footer-item" href="fortesting.html">Cookie Policy</a>
  <a class="footer-item" href="fortesting.html">Tips and Tricks</a>
  <a class="footer-item" href="fortesting.html">Community Guidelines</a>
  <a class="footer-item" href="mailto:gissur20@ru.is">Contact us</a>
</div>
<style>
  footer {
    height: 65px;
  }

  .footer-container {
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 65px;
    background-color: #f08c34;
    margin: 0 0 0 0%;
  }

  .footer-item {
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-decoration: none;
    font-size: 15px;
    color: white;
  }
</style>
