{% extends 'base.html' %}
{% load static %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/popularcategories.css' %}">

{% endblock styles %}

{% block content %}
<div class="content">
  <h2 class="frontpage-title">Our most loved categories</h2>
  <div class="category_container">
    <a id="pop-cat pets-cat"><img class="cat_img" scr="{% static 'img/overlay/pets.png' %}" alt="category"></a>
    <a id="pop-cat books-cat"><img class="cat_img" scr="{% static 'img/overlay/books.png' %}" alt="category"></a>
    <a id="pop-cat furniture-cat"><img class="cat_img" scr="{% static 'img/overlay/furniture.png' %}" alt="category"></a>
    <a id="pop-cat automotive-cat"><img class="cat_img" scr="{% static 'img/overlay/automotive.png' %}" alt="category"></a>
    <a id="pop-cat electronics-cat"><img class="cat_img" scr="{% static 'img/overlay/electronics.png' %}" alt="category"></a>
    <a id="pop-cat health-cat"><img class="cat_img" scr="{% static 'img/overlay/health&fitness.png' %}" alt="category"></a>
    <a id="pop-cat children-cat"><img class="cat_img" scr="{% static 'img/overlay/children.png' %}" alt="category"></a>
    <a id="pop-cat hobbies-cat"><img class="cat_img" scr="{% static 'img/overlay/hobbies.png' %}" alt="category"></a>
  <a id="all-items" href="{% url 'items_index' %}">All items</a>
  {% include 'frontpage/scroll_ads.html' %}
</div>

{% endblock content %}


