{% extends 'base.html' %}
{% load static %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/popularcategories.css' %}">
{% endblock styles %}

{% block content %}
<div class="category_container">
  <div class="cat1_img"><img class="cat_img1" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
  <div class="cat1_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/beach.png' %}" alt="category"></div>
  <h1 class="cat1_text cat_text">Ehv texti</h1>

  <div class="cat2_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
  <div class="cat2_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/terracotta.png' %}" alt="category"></div>
  <h1 class="cat2_text cat_text">Ehv texti</h1>

  <div class="cat3_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
  <div class="cat3_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/sunshine.png' %}" alt="category"></div>
  <h1 class="cat3_text cat_text">Ehv texti</h1>

  <div class="cat4_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
  <div class="cat4_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/mint.png' %}" alt="category"></div>
  <h1 class="cat4_text cat_text">Ehv texti</h1>

  <div class="cat5_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
  <div class="cat5_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/mountain.png' %}" alt="category"></div>
  <h1 class="cat5_text cat_text">Ehv texti</h1>

  <div class="cat6_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
  <div class="cat6_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/navy.png' %}" alt="category"></div>
  <h1 class="cat6_text cat_text">Ehv texti</h1>

  <div class="cat7_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
  <div class="cat7_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/lilac.png' %}" alt="category"></div>
  <h1 class="cat7_text cat_text">Ehv texti</h1>

  <div class="cat8_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
  <div class="cat8_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/blush.png' %}" alt="category"></div>
  <h1 class="cat8_text cat_text">Sport & healddsfsdfsth</h1>
</div>

{% include 'frontpage/scroll_ads.html' %}
{% endblock content %}


