{% extends 'base.html' %}
{% load static %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/popularcategories.css' %}">

{% endblock styles %}

{% block content %}
<div class="content">
  <h2 class="frontpage-title">Our most loved categories</h2>
  <div class="category_container">
    <a id="pop-cat pets-cat"><img class="cat_img" scr="{% static 'img/overlay/pets.png' %}" alt="category"></a>
    <a id="pop-cat books-cat"><img class="cat_img" scr="{% static 'img/overlay/books.png' %}" alt="category"></a>
    <a id="pop-cat furniture-cat"><img class="cat_img" scr="{% static 'img/overlay/furniture.png' %}" alt="category"></a>
    <a id="pop-cat children-cat"><img class="cat_img" scr="{% static 'img/overlay/pets.png' %}" alt="category"></a>
    <a id="pop-cat pets-cat"><img class="cat_img" scr="{% static 'img/overlay/pets.png' %}" alt="category"></a>
    <a id="pop-cat pets-cat"><img class="cat_img" scr="{% static 'img/overlay/pets.png' %}" alt="category"></a>
    <a id="pop-cat pets-cat"><img class="cat_img" scr="{% static 'img/overlay/pets.png' %}" alt="category"></a>
    <a id="pop-cat pets-cat"><img class="cat_img" scr="{% static 'img/overlay/pets.png' %}" alt="category"></a>
    <a id="pop-cat pets-cat"><img class="cat_img" scr="{% static 'img/overlay/pets.png' %}" alt="category"></a>

    <img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
    <div class="cat3_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/sunshine.png' %}" alt="category"></div>
    <h1 class="cat3_text cat_text">Ehv texti</h1>
    <a id="link-cat3 pop-link" href=""></a>

    <div class="cat4_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
    <div class="cat4_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/mint.png' %}" alt="category"></div>
    <h1 class="cat4_text cat_text">Ehv texti</h1>
    <a id="link-cat4 pop-link" href=""></a>

    <div class="cat5_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
    <div class="cat5_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/mountain.png' %}" alt="category"></div>
    <h1 class="cat5_text cat_text">Ehv texti</h1>
    <a id="link-cat5 pop-link" href=""></a>

    <div class="cat6_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
    <div class="cat6_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/navy.png' %}" alt="category"></div>
    <h1 class="cat6_text cat_text">Ehv texti</h1>
    <a id="link-cat6 pop-link" href=""></a>

    <div class="cat7_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
    <div class="cat7_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/lilac.png' %}" alt="category"></div>
    <h1 class="cat7_text cat_text">Ehv texti</h1>
    <a id="link-cat7 pop-link" href=""></a>

    <div class="cat8_img"><img class="cat_img" src="https://www.nicepng.com/png/detail/252-2526669_new-car-img-car.png" alt="category"></div>
    <div class="cat8_overlay overlay"><img class="cat_img_over" src="{% static 'img/overlay/blush.png' %}" alt="category"></div>
    <h1 class="cat8_text cat_text">Sport & healddsfsdfsth</h1>
    <a id="link-cat8 pop-link" href=""></a>
  </div>
  <a id="all-items" href="{% url 'items_index' %}">All items</a>
  {% include 'frontpage/scroll_ads.html' %}
</div>

{% endblock content %}
