{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock styles %}

<div id="navbar">
  <div id="orange_left"></div>
  <div class="header-container">
    <a id="logo_link" href="{% url 'index' %}">
      <img id="logo" src="{% static 'img/Logo.png' %}" alt="Fyre sale logo">
    </a>
    <div class="right-side">
      <div id="search-button"><i class="fas fa-search" id> </i></div>
      <span id="login"><i class="fa-solid fa-user"></i></span>
      <br>
    </div>
    {% include 'users/profilemenu.html' %}
  </div>
  <div id="blue_right"></div>
</div>
<div id="search-dropdown">

  <div id="search-container">
    <form id="search-form" action="{% url 'items_index' %}" method="GET">
      <select id="cat-btn">
        <option>All</option>
{#        {% for cat in categories %}#}
{#          <option>{{ cat.name }}</option>#}
{#          {% for subcat in subcategories %}#}
{#            {% if subcat.category_id == cat.id %}#}
{#              <option>- {{ subcat.name }}</option>#}
{#            {% endif %}#}
{#          {% endfor %}#}
{#        {% endfor %}#}
      </select>
      <button id="search-form-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      <input id="search-form-input" name="name" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div id="search-results-list">
    </div>
  </div>
</div>
