{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/scroll_bar.css' %}">
{% endblock styles %}
<div id="wrapper">
    <div id="carousel">
        <div id="content">
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
            <div class="item"><img class="item_img" src="{% static 'img/cat.jpg' %}" alt="cat"/></div>
        </div>
    </div>
    <button id="prev"></button>
    <button id="next"></button>
</div>
<script src="{% static 'js/scroll_bar.js' %}"></script>
