@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html, body {
  height: 100%;

}

body {
  /* display: flex; */
  font-family: 'Open Sans', sans-serif;
  min-width: 715px;
  margin: 0;
  background-color: #f5f5f5;
  /* justify-content: space-between; */

}

#wrapper {
  display: flex;
}

.content {
  /* padding-top: 65px; */
  padding-bottom: 65px;
  width: 70%;
  overflow: hidden;
  margin: 0 15% 0 15%;


}
.content:after {
  content: "";
  display: block;
  height: 65px;
}

.frontpage-title {
  color: #303c6c;
  margin-bottom: 0;
}
