#filter-container {
    margin-top: 20px;
    width: 14%;
    z-index: 2;
    height: 100%;
    margin-left: 0%;
    z-index: 1;
    position: absolute;
}
#filter-title {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: #303C6C;
    font-weight: bold
}
#categories {
    padding-left: 5px;
    list-style-type: none;
    margin: 5px;
}
#categories li {
    margin-bottom: 3px;
}

#sub-cat {
    list-style-type: none;
    padding-left: 7px;
    margin: 5px;
}
#sub-cat li {
    margin-bottom: 3px;
}