#filter-container {
    margin-top: 50px;
    width: 20%;
    height: 100%;
    margin-left: 0%;
    position: absolute;
}

#filter-title {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #303C6C;
    font-weight: bold;
}
#categories {
    padding-left: 5px;
    list-style-type: none;
    margin: 5px;
    color: #777777;
}
#categories li {
    margin-bottom: 3px;
}

#sub-cat {
    list-style-type: none;
    padding-left: 7px;
    margin: 5px;
}
#sub-cat li {
    margin-bottom: 3px;
}
li:hover {
    color:#303C6C;
}

#categories a {
    text-decoration: none;
    color: #777777;
}

#categories a:visited {
    color: #777777;
}
#categories a:active {
    color: #303C6C;
}

.category-header {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #303C6C;
    font-weight: bold;
    text-align: center;
}

#create-item {
  position: absolute;
  border: 0;
  padding: 10px;
  left: 50px;
  border-radius: 4px;
  background-color: #303C6C;
  color: #fff;
  font-size: 18px;
  text-decoration: none;

}