#login {
  font-size: 20px;
  margin-right: 2em;
  text-decoration: none;
  color: #ffffff;
}

#login:hover {
  font-weight: 600;
}

.loginform {
  padding: 30px;
  align-items: center;
}

.form-title {
  margin: 0;
  padding: 40px 0 0 0;
  font-size: 30px;
  color: #4a5ee5;
  text-align: center;
}

.form-subtitle {
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: #9c9c9c;
  margin-bottom: 10px;
}

.form-field-label {
  font-size: 15px;
  color: #9c9c9c;
}

.form-field {
  width: 100%;
  padding: 10px 0;
  border: 0;
  background: none;
  border-bottom: 1.5px solid #c4c4c4;
}

/* #form-remember {
  display: flex;
  justify-content: flex-start;
} */

/* .forgotten-pw {
  font-size: 12px;
  color: #C4C4C4;
  margin-left: 35px;
}

.form-remember-text {
  margin-left: 5px;
  font-size: 12px;
  color: #C7C7C7;
} */

.form-submit {
  height: 50px;
}
.form-submit, .accept-decline {
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  width: 200px;
  border: 0;
  padding: 15px 0 15px 0;
  border-radius: 4px;
  background-color: #4a5ee5;
  color: #fff;
  font-size: 20px;
}

#form-footer {
  display: flex;
  padding: 5px 0 5px 0;
  justify-content: space-between;
  align-items: center;
  background-color: #b9b9b9;
  width: 100%;
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-footertext {
  font-size: 15px;
  padding-left: 15px;
}

.form-signup {
  color: #303C6C;
  background-color: transparent;
  border: 0;
  padding-right: 15px;
  text-decoration: none;
  font-size: 20px;
}

.form-signup:hover {
  font-weight: bolder;
}

.bio_text {
  width: 100%;
  resize: none;
}

.close1 {
  display:flex;
  justify-content: flex-end;
}
.close2 {
  padding:0px 20px;
  font-size: 20px;
  text-decoration: none;
  color:#d4d4d4;
}

.errorlist li {
  text-decoration: none;
  list-style: none;
  color: red;
}
