body {
    overflow: hidden;
}

#popup {
    width: 500px;
    background-color: #fbfbfb;
    border-radius: 5px 5px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 20px;
    margin: 0;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}