.category_container {
    margin: 40px 0 40px 0;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    justify-content: space-evenly;
    color: #444;
}

.pets-cat {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.books-cat {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.furniture-cat {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.automotive-cat {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.electronics-cat {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.health-cat {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.children {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.hobbies {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.cat_img {
    width: 100%
}

.cat_img:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
