.category_container {
    margin: 40px 0 40px 0;
    display: grid;
    grid-gap: 2%;
    grid-auto-flow: column;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-template-rows: 50% 50%;
    justify-content: space-evenly;
    background-color: #fff;
    color: #444;
}

.cat1_img, .cat1_overlay, .cat1_text, #link {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.cat2_img, .cat2_overlay, .cat2_text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.cat3_img, .cat3_overlay, .cat3_text {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.cat4_img, .cat4_overlay, .cat4_text {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.cat5_img, .cat5_overlay, .cat5_text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.cat6_img, .cat6_overlay, .cat6_text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.cat7_img, .cat7_overlay, .cat7_text {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.cat8_img, .cat8_overlay, .cat8_text {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.cat_img, .cat_img_over, .cat_img1 {
    width: 100%
}

.cat_img_over:hover .cat_img1 {
    transform: scale(1.5); 
}

.cat_text {
    margin: 3%;
    color: black;
    font-size: 1.75vw;
}
