body {
    overflow: hidden;
}

.padding-popup {
    top: 120px;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 720px;
    position: absolute;
    overflow-x:hidden;
}

#popup {
    width: 720px;
    height: auto;
    margin: auto;
    background-color: #fbfbfb;
    padding-top: 20px;
}