body {
    overflow: hidden;
}

.padding-popup {
    top: 100px;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 520px;
    position: absolute;
    overflow-x: scroll;
}

#popup {
    width: 500px;
    height: auto;
    margin: auto;
    background-color: #fbfbfb;
    padding-top: 20px;
    border-radius: 5px 5px 5px 5px;
}