#profile {
    margin: 20px 15% 20px 15%;
}
.profile-container {
    width: 100%;  
    display: grid;
    grid:
        "image header header" 0.5fr
        "image info info" 1.3fr
        "line line line" 0.01fr
        "belowleft below belowright" 1fr
        / 1fr 1fr 1fr 1fr;
    gap: 8px;
}
.image-container { 
    grid-area: image; 
}
.profile-picture {
    object-fit: cover; 
    object-position: center; 
    width: 400px;
    height: 400px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.profile-header {
    grid-area: header;
    padding-left: 20px;
}
.profile-info {
    grid-area: info; 
}

.info-header {
    color: rgb(106, 106, 106);
    padding: 0;
}
.info-value {
    color: rgb(0, 0, 0);
}
.line { 
    grid-area: line; 
    border-bottom: 2px solid #ccc;
}
.user-info {
    list-style: none;
    padding: 0;
    font-size: 20px;
}
.buttons-container {
    align-items:left;
    grid-area: belowright;
    display: flex;
    width: min-content;
    flex-direction: column;
    margin-left: auto;
    margin-right: 0;
    padding: 10px 10px 5px 10px;
}
.info-list {
    list-style: none;
    padding: 0 0 0 20px;
}
.item-header {
    color: rgb(72, 72, 72);
    padding: 0 0 0 20px;
}
.profile-name {
    font-size: 30px;
    color: #4a5ee5;
}
.button-profile {
    text-align: center;
    line-height: 40px;
    margin: 5px;
    padding: 10px;
    height: 40px;
    background-color: #4a5ee5;
    border-radius: 2px;
    text-decoration: none;
    color:  white;
}
.button-profile:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.below-line { 
    grid-area: belowleft; 
}

/* ======= ratings ========*/
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f08c34;
}
#rating-title {
    color: #414141;
    font-size: 18px;;
}
#curr-rating-to-show {
    display: none;
}