/* #profile {
    margin: auto;
    margin: 20px 10% 20px 10%;
}
.image-container {
    grid-row-start:1;
}
.profile-picture {
    object-fit: none; /* Do not scale the image 
    object-position: center; /* Center the image within the element 
    height: 350px;
    width: 350px;
}
.fa-ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.line-break {
    width: 100%;
    border-bottom: black solid 1px;
    height: 0;
}
.item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
    width:100%;
    height:1000px;
    border: solid black 1px;
}

.ad-picture {
    height:250px;
    width:250px;
    padding:20px;
}

.description-container {
    grid-column-start:2;
    grid-column-end:5;
    flex-direction:column;
    width:80%;
    order:1;
    max-height:500px
}

.edit-container {
    grid-row-start:2;
    grid-column:3 /span 2;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    padding:20px;
}
.item-info2{
    grid-row-start:2;
    padding:40px;
}

div.user-items {
    grid-row:3/ span 2;
    grid-column: 1 /span 4;
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    border:solid #F4976C30;

}

div.user-items a {
  display: inline-block;
  color: white;
}

div.user-items a:hover {
  background-color: #F4976C30;
}

button.edit {
    background-color: #303C6C;
    color:white;
    padding:20px;
    border-radius: 8px;
}
button.edit:hover {
    color:#F4976C;
    cursor:pointer;
}
div.user-items {
    width:100%;
    top:0;
    grid-row:3/span 2;
} */

#profile {
    margin: 20px 15% 20px 15%;
}
.profile-container {
    width: 100%;  
    display: grid;
    grid:
        "image rating rating" 0.5fr
        "image info info" 1fr
        "line line line" 0.01fr
        "below below belowright" 1fr
        / 1fr 1fr 1fr;
    gap: 8px;
}

.image-container { 
    grid-area: image; 
}

.profile-picture {
    object-fit: cover; 
    object-position: center; 
    width: 400px;
    height: 400px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.info-header {
    color: rgb(106, 106, 106);
    padding: 0 20px 0 0;
}

.info-value {
    color: rgb(0, 0, 0);
    padding-left: 20px;
}
.info { 
    grid-area: info; 
}
.line { 
    grid-area: line; 
    border-bottom: 2px solid #ccc;
}

/*User profile*/
.rating { 
    grid-area: rating; 
}

.fa-ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.bio { 
    grid-area: below / below-right; 
}

.user-info {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

/*Item profile*/

.item-profile-info {
    grid-area: info; 
}
.item-header {
    grid-area: rating;
}

.seller-info {
    grid-area: below;
}
.bid-container {
    grid-area: belowright;
}

.info-list {
    list-style: none;
    padding: 0 0 0 20px;
}

.item-header {
    padding: 0 0 0 20px;
}
