#profile-menu {
  display: none;
  position: absolute;
  z-index: 1003;
  width: 150px;
  height: auto;
  background-color: #ffffff;
  top: 60px;
  margin-left: 50px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
#profile-menu-list {
  float:left;
  list-style-type: none;
  padding: 10px;
}
#profile-menu-list li {
  padding:5px 5px 5px 0;
}
#username {
  color: #4a5ee5;
  font-weight: bold;
  text-transform: uppercase;
}